<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716580257783-9hje2u7dkehfl5cmh2ljbbvp85em5dqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716580257783-9hje2u7dkehfl5cmh2ljbbvp85em5dqq</string>
	<key>API_KEY</key>
	<string>AIzaSyCKdK0P-ump_d1cEUsSO32ALWA7HAANAo4</string>
	<key>GCM_SENDER_ID</key>
	<string>716580257783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanishk.UserAuthPersonal</string>
	<key>PROJECT_ID</key>
	<string>learnauth-da516</string>
	<key>STORAGE_BUCKET</key>
	<string>learnauth-da516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716580257783:ios:9ccbc7ddc1dc5f29b278f2</string>
	<key>DATABASE_URL</key>
	<string>https://learnauth-da516.firebaseio.com</string>
</dict>
</plist>